<p id="notice"><%= notice %></p>

<h1>Listing Owners</h1>


<%= select_tag(:active, options_for_select([['Active', true], ['All', false]])) %>

<div id="ownerinfo">
  <%= render partial: "ownerinfo" %>
</div>

<%= link_to 'New Owner', new_owner_path %>


<script type="text/javascript">

var active = document.getElementById('active');

  active.onchange = function() {

      var val = $("#active").val();

      $.ajax({
      type: 'GET',
      url: "owners.js",
      data: {
       active: val
      },
       });
  };

</script>




