/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-tablesorter/theme.blue
 *= require_tree .
 *= require_self
 */

table {
	border-collapse: collapse;
}

td {
	text-align: center;
	padding: 5px;
}

.even {
	background-color:#E0E0E0;
}

.container{
	/*padding-bottom: 10px;*/
	width: 75%;
	float: left;
}


#ownerplayer {
	width: 75%;
	float: left;
		
}

.footer {
	clear: both;
}





